BODY {
  font-family: Garamond, Palatino, 'Liberation Serif', serif;
}

BLOCKQUOTE {
    font-family: 'Liberation Mono', monospace;
    font-size: smaller;
}

H1, H2, H3 {
    color: maroon;
}

IMG {
  border: 0px;
  border-style: none;
}

#main {
  float: left;
  width: 84%;
}

#side {
  float: left;
  margin-top: 5%;
  padding: 2%;
  width: 12%;
  font-style: italic;
  font-size: smaller;
}

#bottom {clear: both}

.small {
  font-style: italic;
  font-size: smaller;
}
