body {
    font-family: 'DejaVu Serif', Georgia, serif;
}

blockquote {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: smaller;
}

h1, h2, h3 {
    color: blue;
}

img {
    border: 0px;
    border-style: none;
}

#main {
    float: left;
    width: 84%;
}

#side {
    float: left;
    margin-top: 5%;
    padding: 2%;
    width: 12%;
    font-style: italic;
    font-size: smaller;
}

#bottom {
    clear: both
}

.small {
    font-style: italic;
    font-size: smaller;
    text-align: right;
}
