BODY {
  font-family: Garamond, Palatino, 'Liberation Serif', serif;
}

BLOCKQUOTE {
    font-family: 'Liberation Mono', monospace;
    font-size: smaller;
}

H1, H2, H3 {
    color: maroon;
}

IMG {
  border: 0px;
  border-style: none;
}

#main {
  float: left;
  width: 84%;
}

#side {
  float: left;
  margin-top: 5%;
  padding: 2%;
  width: 12%;
  font-family: 'Liberation Sans', 'Lucida Grande', sans-serif;
  font-style: italic;
  font-size: smaller;
}

/*
#geek {color: green;
  width: 45%;
  border: thin dashed;
  margin: 1%;
  padding: 1%;
  float: left
}

#religion {color: navy;
  width: 45%;
  border: thin dashed;
  margin: 1%;
  padding: 1%;
  float: right
}

#misc {color: maroon;
  width: 45%;
  border: thin dashed;
  margin: 1%;
  padding: 1%;
  float: right
}
*/

#bottom {clear: both}

.small {
  font-style: italic;
  font-size: smaller;
}
