[% title = 'Home' %]

<ul>

<li/>Church

	<ul>
	<li/><a href="http://www.stpaulscathedral.org.au/">Sandstone</a>
	<li/><a href="http://anglicansonline.org/">Online</a>
	</ul>

<li/>Groups

    <ul>
    <li/><a href="http://friendsofsame.org/">Friends of Same</a>
    <li/><a href="http://au.linuxchix.org/">AussieChix (Australian LinuxChix)</a>
    </ul>

<li/><a href="famhist.html">Family history</a>

<li/>Blogs
<ul>
<li/><a href="http://compline.wordpress.com/">faith</a>
<li/><a href="http://claudine-c.livejournal.com">miscellaneous</a>
</ul>

<li/>Docs


    <ul>

    <li><a href="travel/indiatalk06.html">"Studying health in rural
India"</a>: presentation on my trip to Jamkhed for Friends of St
Paul's Cathedral, Melbourne, and Melbourne Unitarian Peace Memorial
Church (2006)

    <li><a href="tips/web-community.html">Designing web sites for
community groups</a>

    <li><a href="tips/mail-lists.html">Using mailing lists</a>

    </ul>

<li/>Reading

	<ul>
	<li/><a href="http://www.librarything.com/profile/claudinec">Library Thing</a>
	<li/><a href="http://bookcrossing.com/referral/claudinec">Bookcrossing</a>
	</ul>

<li/><a href="http://www.last.fm/user/claudinec/">Listening</a> (last.fm)

<li/><a href="http://flickr.com/photos/claudine/">Photos</a>

<li/><a href="cv.pdf">CV</a> (PDF) | 
<a href="http://www.linkedin.com/in/claudinec">LinkedIn profile</a>

<li/><a href="http://www.facebook.com/p/Claudine_Chionh/733041976">Facebook</a>

</ul>
