<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Claudine Chionh" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Claudine Chionh</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/claudinec">View on GitHub</a>

          <h1 id="project_title">Claudine Chionh</h1>
          <h2 id="project_tagline">Freelance Writer and Editor</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}

	<div id="disqus_thread"></div><script type="text/javascript"
	src="http://disqus.com/forums/claudine-github/embed.js"></script><noscript><a
	href="http://disqus.com/forums/claudine-github/?url=ref">View the
	discussion thread.</a></noscript><a href="http://disqus.com"
	class="dsq-brlink">blog comments powered by <span
	class="logo-disqus">Disqus</span></a>

	<script type="text/javascript">
	//<![CDATA[
	(function() {
	 	var links = document.getElementsByTagName('a');
		var query = '?';
			for(var i = 0; i < links.length; i++) {
				if(links[i].href.indexOf('#disqus_thread') >= 0) {
						query += 'url' + i + '=' +
						encodeURIComponent(links[i].href) + '&';
					}
				}
				document.write('<script
								charset="utf-8"
								type="text/javascript"
								src="http://disqus.com/forums/claudine-github/get_num_replies.js'
								+ query + '"></' +
								'script>');
				})();
	//]]>
</script>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
