<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Claudine Chionh</title>
    <link href="/claudine.css" rel="stylesheet" type="text/css">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml">
  </head>

  <body>
    <h1>{{ page.title }} | Claudine Chionh</h1>

    {{ content }}

	<div id="disqus_thread"></div><script type="text/javascript"
	src="http://disqus.com/forums/claudine-github/embed.js"></script><noscript><a
	href="http://disqus.com/forums/claudine-github/?url=ref">View the
	discussion thread.</a></noscript><a href="http://disqus.com"
	class="dsq-brlink">blog comments powered by <span
	class="logo-disqus">Disqus</span></a>

	<script type="text/javascript">
	//<![CDATA[
	(function() {
	 	var links = document.getElementsByTagName('a');
		var query = '?';
			for(var i = 0; i < links.length; i++) {
				if(links[i].href.indexOf('#disqus_thread') >= 0) {
						query += 'url' + i + '=' +
						encodeURIComponent(links[i].href) + '&';
					}
				}
				document.write('<script
								charset="utf-8"
								type="text/javascript"
								src="http://disqus.com/forums/claudine-github/get_num_replies.js'
								+ query + '"></' +
								'script>');
				})();
	//]]>
</script>
    
    <hr>
    <p>{{ post.date }} | <a href="http://claudine.github.com/">Claudine Chionh</a></p>
  </body>
</html>
