---
layout: default
comments: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span> {{ content }}
</div>

<!-- Disqus config -->
{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>

  var disqus_config = function () {
  this.page.url = "https://claudinec.github.io";
  this.page.identifier = "claudine-github";
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//claudine-github.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
    </li>
    {% endfor %}
  </ul>
</div>

<script id="dsq-count-scr" src="//claudine-github.disqus.com/count.js" async></script>
